<ion-header>
  <ion-toolbar color="primary">
    <ion-title >My-Courses</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Expense List</ion-card-title>
            </ion-card-header>
            <ion-card-content>

            <ion-item>
              <ion-label position="floating" #expense>Expense Item</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>

          <ion-item>
            <ion-label position="floating">Expense Amount</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

              <div class="btn">
          <ion-button fill="outline" (click)="submit(expense)"><ion-icon name="add-outline" ></ion-icon>Submit</ion-button>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
