<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--   First Section-->
<ion-card>
  <ion-card-header>
    <ion-card-title>
      What do you want to do with Recyclable waste
    </ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-label>Add Manufactures</ion-label>
          <ion-item>
            <ion-label>I want to Sell it</ion-label>
            <ion-radio slot="start" value="Client"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>I want to Buy it</ion-label>
            <ion-radio slot="start" value="Partner"></ion-radio>
          </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card-header>
</ion-card>

<!--   Second Section-->
  <ion-card>
  <ion-card-header>
    <ion-card-title>
      Contact
    </ion-card-title>
    <ion-card-content>
      <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card-header>
  </ion-card>

<!--   Third Section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Address Information
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="Address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Number</ion-label>
        <ion-input type="Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="Text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="light">Register</ion-button>
</ion-content>
