<ion-header>
  <ion-toolbar>
<!--    <ion-button slot="start">-->
<!--      <ion-back-button text=""></ion-back-button>-->
<!--    </ion-button>-->
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/Screen-shot-2013-10-27-at-10.51.49-PM.png">

  <ion-card>
    <ion-card-content>
      <p>Address: ISB</p>
      <p>Neighborhood:Neighborhood</p>
      <p>Zip Code: 123</p>
      <p>State: Punjab</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
     <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button color="success" fill="clear" size="full" style="margin-top: 1rem">Confirm Request</ion-button>
</ion-content>
