ion-toolbar{
  color: white;
  --background: var(--ion-color-medium);
}


ion-button,ion-content{
  color: white;
  --background: var(--ion-color-medium);
  margin-left: 0.5rem
}

ion-list{
  padding: 0;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);
  .money{
    font-weight: bold;
  }
}

ion-card{
  ion-card-subtitle{
  text-transform: uppercase;
    font-weight: bold;
  }
  p{
    white-space: normal;
  }
}
